.footer {
    position: absolute;
    bottom: 0;
    background-color: #E2E2E2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #575757;
    height: 60px;
}